.project-background {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    // will-change: opacity;

    &__item {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transform: scale(4);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        z-index: 1;
        will-change: opacity;

        &.blur {
            z-index: 0;
            visibility: visible;
            opacity: 1;
            filter: grayscale(0);
            will-change: auto;
        }
    }
}

.project__header {
    .project-background__item {
        will-change: auto;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        &.blur {
            display: none;
        }
    }
}

.project__footer {
    .project-background__item {
        visibility: visible; //Having both images visible prevents image decode on hover which causes stutter, however is costly on performance so use sparingly
    }
}