.project-thumbnail {
    position: absolute;
    top: 44%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    opacity: 0;  
    transform: scale(1) skew(0deg, 0deg);
    will-change: transform, opacity;
    z-index: 5;

    &__image {
        width: 100%;
        display: block;

        @include breakpoint(tablet) {
            height: 100%;
            width: auto;
        }
    }

    @include breakpoint(tablet) {
        min-width: max-content;
        top: 50%;
        height: 53%;
        left: 44%;
    }
}