.project {
  opacity: 0;
  visibility: hidden;
  position: relative;
  overflow: hidden;

  &__header,
  &__footer {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: calc(100vh - var(--vh-offset, 0px));

    .project-background {
      position: relative;
      opacity: 0.9;
      transform: scale(1);
    }
  }

  &__content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 3%;

    @include breakpoint(tablet) {
      padding: 0 5%;
    }

    @include breakpoint(desktop) {
      padding: 0;
    }

    &-logo-container {
      @include breakpoint(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-mobile-container {
      @include breakpoint(tablet) {
        display: flex;
        justify-content: space-between;
        margin: 10% 0;
      }
    }

    .image {
      opacity: 0;
      will-change: opacity;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
      transform: translateZ(0.1px);

      img {
        display: block;
      }

      &--desktop {
        width: 100%;
        margin: 10% 0;
      }

      &--mobile {
        width: 100%;
        margin: 10% 0;

        @include breakpoint(tablet) {
          width: 30%;
          margin: 0;
        }
      }

      &--logo {
        box-shadow: none;
        width: 100%;
        margin: 10% 0;

        @include breakpoint(tablet) {
          width: 40%;
          margin: 0 auto;
        }
      }
    }
  }

  &__footer {
    height: 100vh;
    .project-background {
      overflow: hidden;
      opacity: 0.7;
      visibility: visible;

      &__item {
        transform: scale(2);
      }
    }
  }
}

.about-overlay .project {
  pointer-events: none;
}