.projects-list {
    pointer-events: none;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    height: calc(100vh - var(--vh-offset, 0px));

    opacity: 1;

    &__link {
        cursor: none;
    }
}

.about-overlay .projects-list {
    pointer-events: none;
}