.title {
    font-size: 4vw;
    line-height: 1;

    @include breakpoint(tablet) {
        font-size: 3vw;
    }

    &--prev,
    &--next {
        .title__outline {
            opacity: 0;
        }
    }

    &--prev .title__outline {
        top: -1%;

        @include breakpoint(tablet) {
            top: 0%
        }

        @include breakpoint(desktop) {
            top: -6%;
        } 
    }

    &--next .title__outline {
        top: inherit;
        bottom: -1%;

        @include breakpoint(tablet) {
            bottom: 0%
        }

        @include breakpoint(desktop) {
            bottom: -6%;
        } 
    }

    &__base,
    &__outline {
        position: absolute;
        opacity: 0;
        top: 65%;
        left: 8%;
        transform: scale(1);

        @include breakpoint(tablet) {
            top: 50%;
            left: 18%;
        }
    }

    &__base {
        color: $textColour;
        background-image: url('#{$assets-dir}noise.gif');
        background-clip: text;
        z-index: 5;

    }

    &__outline {
        color: transparent;
        -webkit-text-stroke: $textColour 1px;
        z-index: 6;
    }

    &:not(.title--prev):not(.title--next) {
        .title__base, .title__outline {
            will-change: transform, opacity;
        }
    }
}

.project {

    &__header,
    &__footer {
        .title {
            &:not(.title--prev):not(.title--next) {
                .title__base, .title__outline {
                    will-change: auto;
                }
            }

            &__base,
            &__outline {
                z-index: 2;
                opacity: 1;
                transform: translateY(-50%);
            }
        }
    }

    // &__header {

    // }

    &__footer {
        .title {
            &__base {
                opacity: 0;
            }
        }
    }
}