// $font-dir: "../assets/font/"; //Relative to the main.scss file

// @font-face {
//     font-family: 'Gotham-Medium';
//     src: url('#{$font-dir}Gotham-Medium.eot');
//     src: url('#{$font-dir}Gotham-Medium.eot?#iefix') format('embedded-opentype'),
//          url('#{$font-dir}Gotham-Medium.svg#Gotham-Medium') format('svg'),
//          url('#{$font-dir}Gotham-Medium.ttf') format('truetype'),
//          url('#{$font-dir}Gotham-Medium.woff') format('woff'),
//          url('#{$font-dir}Gotham-Medium.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//   }